In [1]:
import os 
import pandas as pd

In [2]:
df = pd.read_csv("../data_given/BankNote_Authentication.csv")

In [3]:
df.columns

Index(['variance', 'skewness', 'curtosis', 'entropy', 'class'], dtype='object')

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
variance,1372.0,0.433735,2.842763,-7.0421,-1.773000,0.49618,2.821475,6.8248
skewness,1372.0,1.922353,5.869047,-13.7731,-1.708200,2.31965,6.814625,12.9516
curtosis,1372.0,1.397627,4.310030,-5.2861,-1.574975,0.61663,3.179250,17.9274
entropy,1372.0,-1.191657,2.101013,-8.5482,-2.413450,-0.58665,0.394810,2.4495
class,1372.0,0.444606,0.497103,0.0000,0.000000,0.00000,1.000000,1.0000

In [6]:
overview = df.describe()

In [9]:
overview.loc[["min", "max"]].to_json("schema_in.json")

In [10]:
class NotInRange(Exception):
    def __init__(self, input_, message="value not in range"):
        self.input_ = input_
        self.message = message
        super
    pass

In [11]:
raise CustomError

CustomError: